@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1A3636
  --foreground: #6559a2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A3636;
    --foreground: #6559a2;
   
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
